.buttons-container {
    padding: 10px 0;
    display: flex;
    flex-basis: 100%;
    justify-content: left;
    gap: 10px;
}

.buttons-container a {
    display: flex;
    flex-basis: 0;
    margin: 0;
}

button {
    min-width: 80px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border: none;
    background: linear-gradient(to right top, var(--azul-principal), var(--azul-secondary));
    border: 1px solid var(--azul-principal);
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
}

button:hover {
    background: var(--azul-principal);
}

#btn-cancel {
    background: transparent;
    color: #404040;
}

#btn-cancel:hover {
    background: linear-gradient(to right top, var(--azul-principal), var(--azul-secondary));
    color: #fff;
}

#btn-delete {
    background: linear-gradient(to right top, #811606, #b32900);
    border: 1px solid #811606;
    color: #fff;
}

#btn-delete:hover {
    background: #6c1305;
}
