.buttons-container {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: left;
    gap: 10px;
}

.buttons-container button {
    min-width: 80px;
    padding: 5px;
    border: none;
    background: linear-gradient(to right top, var(--azul-principal), var(--azul-secondary));
    border: 1px solid var(--azul-principal);
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
}

.buttons-container button:hover {
    background: var(--azul-principal);
}

.buttons-container #btn-cancelar {
    background: transparent;
    color: #404040;
}

.buttons-container #btn-cancelar:hover {
    background: linear-gradient(to right top, var(--azul-principal), var(--azul-secondary));
    color: #fff;
}