.login-principal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f1f1f1;
}

#loginForm {
    width: 430px;
    padding: 40px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 .3em #cdcdcd;
    border-radius: 3px;
    background: #fff;
}

#loginForm img {
    width: 70px;
    margin: 0 0 20px 0;
}

#loginForm label,
#loginForm label div input {
    width: 100%;
}

#loginForm label {
    font-size: 13px;
}

#loginForm label div {
    display: flex;
    align-items: center;
    border: 1px solid #cdcdcd;
    background: #e8f0fe;
    border-radius: 3px;
    overflow: hidden;
}

#loginForm label div input {
    padding: 10px;
    border: none;
    background: #e8f0fe;
}

#loginForm label div input:focus {
    outline: none;
}

#loginForm label div i {
    width: 40px;
    padding: 12px;
    font-size: 12px;
    background: linear-gradient(to right top, var(--azul-principal), var(--azul-secondary));
    color: #fff;
    text-align: center;
}

#loginForm .buttons-container button {
    background: linear-gradient(to right top, var(--azul-principal), var(--azul-secondary));
}

#loginForm .buttons-container button:hover {
    background: linear-gradient(to right top, var(--azul-principal), var(--azul-principal));
}

#loginForm label p {
    font-size: 13px;
}
#loginForm small {
    color: #505050;
}

.login-rodape {
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #505050;
    font-style: italic;
    font-size: 12px;
}