
.select2-container {
    width: inherit !important;
}
.select2-selection {
    width: 100% !important;
    height: 37px !important;
    display: flex !important;
    align-items: center !important;
    font-size: 13px !important;
}
.select2-selection:focus,
.select2-search__field   {
    outline-color: var(--azul-principal);
}
.select2-results__option {
    width: 100% !important; 
    font-size: 13px !important;
}
.select2-selection__arrow {
    height: 90% !important;
}