table {
    background: #fff;
}
table thead tr {
    background: linear-gradient(to right top, var(--verde-secondary), var(--verde-principal));
    color: #fff;
    text-align: center !important;
}

table tbody tr:nth-child(even) {
    background: #f1f1f1 !important;
}

table thead tr td {
    text-align: center !important;
    font-size: 13px;
}

table tbody tr td {
    font-size: 10px;
    padding: 12px !important;
    text-align: center !important;
}

table tbody tr:hover {
    background: #ddd !important;
}

table i {
    font-size: 22px;
    color: var(--azul-secondary);
}
table i:hover {
    color: var(--azul-principal);
}

table .fa-link {
    font-size: 15px;
}

.dt-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dt-length,
.dt-search,
.dt-info,
.dt-buttons,
.dt-paging,
.dt-inpu {
    font-size: 13px !important;
}

.dt-buttons {
    flex-basis: 100%;
}

.dt-paging-button.current {
    background: var(--verde-secondary) !important;
}
.dt-paging-button:hover,
.dt-paging-button.current:hover {
    background: var(--verde-principal) !important;
}

.buttons-excel {
    background: #217346;
    border: 1px solid #164d2f;
}

.buttons-excel:hover {
    background: #164d2f;
}
.buttons-excel span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dt-empty-footer {
    display: flex;
    justify-content: space-between;
}
