form .inpsel-container input,
form .inpsel-container select {
    background: var(--dark-principal) !important;
    border: 1px solid #38384d;
    color: var(--text-color);
}
form .inpsel-container input:hover {
    background: #000 !important;
}
form .inpsel-container i,
form .inpsel-container #show-password,
form .inpsel-container #hide-password {
    background: #000;
    border: 1px solid #38384d;
    border-right: 0;
    color: var(--text-color);
}
form .inpsel-container #show-password,
form .inpsel-container #hide-password {
    border-left: 0;
    border-right: 1px solid #38384d;
}

form .inpsel-container #show-password:hover,
form .inpsel-container #hide-password:hover {
    background: var(--dark-secondary);
}
