table {
    background: var(--dark-principal);
    border: 1px solid #38384d;
}

table thead tr {
    background: #38384d;
}

table tbody tr:nth-child(even) {
    background: var(--dark-secondary) !important;
}

table tbody tr:hover {
    background: #38384d !important;
}

.dt-input {
    border: 1px solid #38384d !important;
}

.dt-paging button {
    background: #38384d !important;
}

.dt-paging-button.current {
    background: var(--dark-principal) !important;
}
